@import "variables";
.el-button{
  height: unset;
  color: $primaryColor;
}
.el-message{
  justify-content: center;
}
.el-message--error{
  background: none;
  border: none;
}
.el-message-box--center{
  padding-bottom: 10px;
}

.el-message-box__btns{
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #f0f0f0;
}

.el-switch.is-checked .el-switch__core{
  background-color: $greenColor !important;
  border-color: $greenColor !important;
}
.el-switch__core{
  background-color: $borderBg !important;
}
.el-switch__label.is-active{
  color: $primaryColor;
}
.el-button:hover, .el-button:focus{
  border-color: transparent;
  background-color: transparent;
}
.is-disabled{
  opacity: 0.5;
}

.el-button--primary:hover, .el-button--primary:focus, .el-button--primary:active{
  color: $color-white;
  background: $mainLiner !important;
  border-color: $bgPurple !important;
}
