@import "variables";
// 调整主题色
:root {
  --el-color-primary: #7d47ff;
  --el-color-primary-light-3: #a783ff;
  --el-color-primary-light-5: #c2a8ff;
  --el-color-primary-light-7: #dbcbff;
  --el-color-primary-light-8: #e7deff;
  --el-color-primary-light-9: #f3eeff;
  --el-color-primary-dark-2: #7d47ff;
  // rgba(125,71,255,1)
}

.el-message {
  justify-content: center;
}
.el-message--error {
  //background: none;
  //border: none;
}
.el-message-box--center {
  padding-bottom: 10px;
}

.el-message-box__btns {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #f0f0f0;
}

.el-switch.is-checked .el-switch__core {
  background-color: $greenColor !important;
  border-color: $greenColor !important;
}
.el-switch__core {
  background-color: $borderBg !important;
}
.el-switch__label.is-active {
  color: $primaryColor;
}

.el-collapse {
  border: none !important;
}
.el-collapse-item__header {
  height: 56px;
  width: 100%;
  background: $bg-white !important;
  border: none !important;
  &.is-active {
    background: $elButtonHoverBg !important;
  }
}
.el-collapse-item__arrow {
  margin-right: 28px;
}
.el-collapse-item__content {
  padding-bottom: 0;
}
.el-button.is-disabled {
  opacity: 0.7;
}

.shopping-cart-content-head{
  .el-menu--horizontal{
    border-bottom: none !important;
    .el-badge{
      margin-right: 50px;
      .el-badge__content{
        height: 16px;
        background: #FF1741;
        border-radius: 6px;
        padding: 0 6px;
        border: none !important;
        &.is-fixed {
          right: 0;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
    .el-menu-item{
      line-height: 24px !important;
      height: 24px !important;
      padding-right: 0;
      padding-left: 0;
      font-size: 16px;
      color: $color-black2;
      position: relative;
      &.is-active{
        color: $primaryColor
      }
      &.is-active:after{
        content: '';
        position: absolute;
        bottom: -8px;
        width: 100%;
        height: 4px;
        background: #7D47FF;
        border-radius: 2px;
      }
    }
    .el-menu-item:hover{
      background-color: transparent !important;
      color: unset;
    }
    .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{
      background-color: transparent;
      color: unset;
    }
  }
}
