@charset "utf-8";

$main-color: #5DFE89;
$color-withe: #fff;
$gold-bg: #B18B0A;
$no-active-color: #666;
$block-main: #141316;
$color999: #999999;
$color666: #666666;
$color333: #333333;
$gold-color: #F0CF5F;
$color-red: #E02020;
.color-gold {
  color: $gold-color !important;
}

.color-main {
  color: $main-color !important;
}

.color-withe {
  color: $color-withe !important;
}

.color-red {
  color: $color-red !important;
}
