@import "variables";
html, body{
  font-family: Plus Jakarta Display;
  margin: 0;
  font-size: 12px;
  //background: rgb(243,243,243);
}
*{
  font-family: Plus Jakarta Display;
}
html * {
  outline-color: transparent;
}
img{
  width: 100%;
  display: block;
  height: auto;
}
.main-wrapper{
  flex: 1;
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-padding{
  padding: 5px 60px;
  .logo-image{
    height: 36px;
  }
}

.explore-select {
  width: 100% !important;
  background-color: #fff !important;
  border-radius: 8px;
  .el-select__caret{
    font-weight: bold !important;
  }
  .el-input__inner{
    background: transparent !important;
  }
}

.nav-item{
  .el-collapse {
    border: 0;
    .el-collapse-item__wrap {
      border: 0;
    }
    .el-collapse-item__header {
      border: 0;
      font-size: 15px;
    }
    .el-collapse-item__content {
      font-size: 15px;
    }
  }
}


.header-margin-l{
  margin-left: 25px;
}
.header-margin-r{
  margin-right: 30px;
}

.global-lr{
  padding-left: 40px;
  padding-right: 40px;
}
.global-tb{
  padding-top: 60px;
  padding-bottom: 60px;
}

.bfont{
  font-weight: bold;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
  color:inherit;
  text-decoration: none;
}

input{
  border:none;
}

.form-error-tip{
  color: $redColor;
  font-size: 13px;
  &.center{
    text-align: center;
  }
}

.go-back{
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  .iconfont{
    font-weight: bold;
  }
  .text{
    margin-left: 5px;
  }
}

input{
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
  }
}


.paytoken-selects{
  width: 100px !important;
  .el-select__caret{
    color: #333 !important;
    font-weight: bold !important;
  }
  .el-input__inner{
    background: transparent !important;
    text-align: end !important;
  }
}

.el-loading-spinner{
  .path{
    stroke: $primaryColor !important;
  }
}




.no-scroller{
  height: 100%;
  overflow-y: auto;
}
.no-scroller::-webkit-scrollbar {
  display: none;
}
/*box 自适应伸缩样式*/
.display-flex {
  //display: -webkit-flex; /* 新版本语法: Chrome 21+ */
  display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
  ///*! autoprefixer: off */
  display: -webkit-flex; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  ///* autoprefixer: on */
  display: -moz-flex; /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox; /* 混合版本语法: IE 10 */
}

.box-flex1 {
  -webkit-flex: 1; /* Chrome */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1; /* OLD - Firefox 19- */
}

.box-center {
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

/*水平 垂直居中*/
.box-center-X{
  justify-content: center; /* 水平居中 */
}

/*垂直居中*/
.box-center-Y{
  align-items: center; /* 垂直居中 */
}

.box-center-end {
  align-items: flex-end;
}

.box-center-start {
  align-items: flex-start;
}

.box-around {
  justify-content: space-around;
}
.box-between {
  justify-content: space-between;
}
.box-end {
  justify-content: flex-end;
}

.box-nowrap {
  flex-wrap: wrap;
}

.box-column {
  flex-direction: column;
}

.max-width{
  max-width: $maxWidthRate;
  min-width: $maxWidth;
  margin: 0 auto;
}

.home-title {
  font-weight: 700;
  font-size: 32px;
  color: $primaryColor;
  line-height: 41px;
}
.title-margin-top{
  margin-top: 60px;
}

.arrow-icon{
  position: absolute;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(82, 77, 255, 0.1);
  border-radius: 50%;
  &.arrow-prev{
    left: -20px;
    background-image: url("../assets/images/icons/icon_arrow_left.svg");
    &:hover{
      background-image: url("../assets/images/icons/icon_arrow_left_active.svg");
    }
  }
  &.arrow-next{
    right: -20px;
    background-image: url("../assets/images/icons/icon_arrow_right.svg");
    &:hover{
      background-image: url("../assets/images/icons/icon_arrow_right_active.svg");
    }
  }
}

.icon-tag{
  width: 16px;
  height: 16px;
  margin-left: 6px;
}

.mt30 {
  margin-top: 30px;
}
.ml20 {
  margin-left: 20px;
}
.mt15 {
  margin-top: 15px;
}

.primaryColor{
  color: $primaryColor;
}
.color-purple{
  color: $bgPurple;
}

.no-scroller{
  height: 100%;
  overflow-y: auto;
}
.no-scroller::-webkit-scrollbar {
  display: none;
}

