/* 左侧条件筛选 */
.filter-wrap {
  width: 210px;
  // height: 520px;
  flex-shrink: 0;
  margin-right: 30px;
  background: $bg-white;
  border: 1px solid $borderBg;
  border-radius: 12px;
  overflow: hidden;
  .filter-head {
    display: flex;
    justify-content: space-between;
    // height: 56px;
    padding: 16px;
    line-height: 24px;
    background: #ffffff;
    font-weight: 400;
    font-size: 14px;
    color: $primaryColor;
    border-bottom: 1px solid $borderBg;
    .left {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      color: $primaryColor;
      cursor: pointer;
      .el-icon {
        margin-right: 2px;
        &.down {
          transform: rotate(180deg);
        }
      }
    }
    .right {
      cursor: pointer;
    }
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .filter-item {
    padding: 16px;
    line-height: 24px;
    &.border {
      border-bottom: 1px solid $borderBg;
    }
    .left {
      font-weight: 500;
      font-size: 14px;
      color: $primaryColor;
    }
    .right {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .el-icon {
      &.down {
        transform: rotate(180deg);
      }
    }
  }
  .el-select {
    margin-top: 15px;
    position: relative;
    // width: 180px;
    height: 32px;
    .el-popper {
      top: 42px !important;
    }
    .el-select-dropdown__item {
      height: 32px;
      line-height: 32px;
    }
    .el-input__suffix {
      right: 16px;
    }
    .el-input__wrapper {
      padding: 6px 10px;
      border-radius: 8px;
      box-shadow: none;
      height: 32px;
      box-sizing: border-box;
      border: none;
      box-shadow: none;
      background-color: $elButtonHoverBg;
    }
    .el-input.is-focus .el-input__wrapper {
      box-shadow: none !important;
    }
    &:first-child {
      margin-left: 10px;
    }
    .el-input__inner {
      height: 20px;
      background-color: transparent;
      padding: 0;
    }
  }
  .price-range {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input-number {
      width: 80px;
      .el-input__wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: none;
        box-shadow: none;
      }
      .el-input__inner {
        text-align: center;
        border: none;
        gap: 8px;
        height: 32px;
        background: $elButtonHoverBg;
        border-radius: 8px;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: $primaryColor;
      }
    }
    .line {
      width: 8px;
      height: 1px;
      margin: 0 10px;
      background-color: $grayColor;
    }
  }
  .btn-apply {
    margin-top: 15px;
    height: 32px;
    line-height: 32px;
    color: $color-white;
    background: $mainLiner;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  .list-wrap {
    margin-top: 15px;
    .list-item {
      display: flex;
      padding: 8px;
      border-radius: 12px;
      cursor: pointer;
      &:hover {
        background: $elButtonHoverBg;
      }
      .head-img {
        width: 40px;
        height: 40px;
        background-color: $bg-white;
        border-radius: 50px;
        padding: 2px;
        flex-shrink: 0;
        position: relative;
        .cover-image {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
        .tag {
          width: 16px;
          height: 16px;
          position: absolute;
          bottom: 2px;
          right: 0;
          z-index: 2;
        }
      }
      .head-txt {
        margin-left: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $primaryColor;
      }
    }
  }
  .gruop-wrap {
    margin-top: 15px;
    .type-item {
      margin: 16px 0;
      .type-head {
        display: flex;
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        justify-content: space-between;
        .type-num {
          display: flex;
          align-items: center;
        }
        .el-icon {
          cursor: pointer;
          font-size: 15px;
          margin-left: 5px;
          &.down {
            transform: rotate(180deg);
          }
        }
      }
      .attr-content {
        .attr-item {
          margin: 16px 0;
          display: flex;
          font-size: 12px;
          height: 18px;
          line-height: 18px;
          justify-content: space-between;
          color: $color-black3;
          .attr-num {
            display: flex;
            align-items: center;
            color: $color-black2;
          }
          .el-checkbox {
            margin-left: 5px;
            height: 18px;
            .el-checkbox__input.is-checked .el-checkbox__inner {
              background-color: #7D47FF;
              border-color: #7D47FF;
            }
          }
        }
      }
    }
  }
}
/* 自定义分页 */
.custom-pagination {
  text-align: center;
  margin: 20px;
  .content {
    display: inline-block;
  }
  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .btn-next {
    padding: 0;
    height: 32px;
    border-radius: 8px;
  }
  .el-pagination.is-background .el-pager li {
    height: 32px;
    border-radius: 8px;
    &.is-active {
      background-color: $bgPurple;
      color: $color-white;
    }
  }
}
/* nft列表 */
.nft-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: -9px;
  margin-right: -9px;
  row-gap: 18px;
  .nft-card {
    min-height: 1px;
    position: relative;
    display: block;
    flex: 0 0 225.6px;
    width: 225.6px;
    margin-left: 9px;
    margin-right: 9px;
    cursor: pointer;
    .nft-content {
      height: 302px;
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.23s;
      background: $bg-white;
      border: 1px solid $borderBg;
      filter: drop-shadow(0px 0px 10px rgba(82, 77, 255, 0.05));
      &:hover {
        box-shadow: 0 7px 16px -8px rgba(0, 0, 0, 0.15);
      }
      .card-top {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 225.6px;
        .card-img {
          left: 0;
          position: absolute;
          top: 0;
          transition: all 0.23s;
          height: 225.6px;
          width: 100%;
          img,
          .cover-image {
            height: 100%;
            width: 100%;
          }
        }
      }
      .card-bottom {
        height: 75px;
        padding: 12px 12px;
        padding-right: 20px;

        .nft-txt {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $color-black3;
        }
        .nft-price {
          display: flex;
          height: 22px;
          align-items: center;
          .token-icon {
            width: 10px;
            height: 15px;
            margin-right: 5px;
          }
          .price {
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: $primaryColor;
          }
        }
      }
    }
  }
}
/* 搜索框 */
.search-input-wrap {
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  // height: 40px;
  margin-right: 20px;
  border: none;
  flex-grow: 1;


  height: 46px;
  background: #FFFFFF;
  border: 2px solid #E5E8EB;
  border-radius: 12px;

  .el-input__inner {
    height: 40px;
    border: none;
    font-size: 14px;
  }
  .el-input__wrapper {
    border-radius: 12px;
    box-shadow: 0 0 0 0px var(--el-input-border-color, var(--el-border-color)) inset;
    background: var(--cs-color-white);
    border: none;
    .el-input__inner {
      background-color: transparent;
    }
  }
  .el-input__prefix {
    line-height: 40px;
    left: 15px;
  }
  .img-search {
    width: 16px;
    height: 16px;
  }
}
/* 列表页面中的搜索区域s */
.list-search-wrap {
  height: 46px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  .btnfilter {
    display: flex;
    align-items: center;
    padding: 0px 16px;
    width: 93px;
    height: 46px;
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 20px;
    line-height: 46px;
    font-size: 16px;
    color:#111111;
    font-weight: 600;
    img {
      width: 12px;
      height: auto;
      margin-right: 10px;
    }
  }
  .el-select {
    position: relative;
    width: 180px;
    margin-left: 10px;
    height: 40px;
    .el-popper {
      top: 42px !important;
    }
    .el-select-dropdown__item {
      height: 40px;
      line-height: 40px;
    }
    .el-input__suffix {
      right: 16px;
    }
    .el-input__wrapper {
      padding: 10px 16px;
      border-radius: 12px;
      box-shadow: none;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid $borderBg;
    }
    .el-input.is-focus .el-input__wrapper {
      box-shadow: none !important;
    }
    &:first-child {
      margin-left: 10px;
    }
    .el-input__inner {
      height: 20px;
      padding: 0;
    }
  }
  .select-sort {
    margin-right: 20px;
  }
  .sort-wrap {
    display: flex;
    background: $elButtonHoverBg;
    border-radius: 12px;
    align-items: center;
    width: 128px;
    padding: 4px;
    .icon-wrap {
      height: 32px;
      width: 58px;
      line-height: 32px;
      border-radius: 8px;
      &.icon_filter01 {
        background-image: url("@/assets/images/icons/icon_filter01.svg");
        &.active {
          background-image: url("@/assets/images/icons/icon_filter01_active.svg");
          background-color: $bg-white;
        }
      }
      &.icon_filter02 {
        background-image: url("@/assets/images/icons/icon_filter02.svg");
        &.active {
          background-image: url("@/assets/images/icons/icon_filter02_active.svg");
          background-color: $bg-white;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
/* 合集列表 */
.collection-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: -9px;
  margin-right: -9px;
  row-gap: 20px;
  margin-bottom: 20px;
  .collection-card {
    min-height: 1px;
    position: relative;
    display: block;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 9px;
    padding-right: 9px;
    .collection-content {
      height: 308px;
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.23s;
      background: $bg-white;
      filter: drop-shadow(0px 0px 10px rgba(82, 77, 255, 0.05));
      &:hover {
        box-shadow: 0 7px 16px -8px rgba(0, 0, 0, 0.15);
      }
      .card-top {
        overflow: hidden;
        height: 237px;
        position: relative;
        width: 100%;
        .card-img {
          left: 0;
          position: absolute;
          top: 0;
          transition: all 0.23s;
          height: 237px;
          width: 100%;
          img,
          .cover-image {
            height: 100%;
            width: 100%;
          }
        }
      }
      .card-bottom {
        display: flex;
        height: 71px;
        padding: 0 20px;
        padding-right: 30px;
        .head-img {
          margin-top: -20px;
          z-index: 1;
          width: 79px;
          height: 79px;
          background-color: $bg-white;
          border-radius: 50px;
          padding: 3px;
          flex-shrink: 0;
          position: relative;
          .cover-image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
          .tag {
            width: 24px;
            height: 24px;
            position: absolute;
            bottom: 4px;
            right: 0;
            z-index: 2;
          }
        }
        .head-txt {
          margin-left: 15px;
          margin-top: 16px;
          font-weight: 700;
          font-size: 22px;
          line-height: 28px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $primaryColor;
        }
      }
    }
  }
}
.el-dialog.custom-dialog {
  padding: 40px;
  height: auto;
  width: 700px;
  .el-dialog__header {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    .left {
      color: $color-black;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
    }
    .el-icon {
      cursor: pointer;
      font-size: 20px;
      &.down {
        transform: rotate(180deg);
      }
    }
  }
  .el-dialog__body {
    padding: 30px 0 0;
  }
}

// 加载中
.loading-txt {
  padding: 60px 0;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  color: $color-black2;
}

// 暂无数据
.empty-wrap {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .txt {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $color-black2;
    margin-bottom: 16px;
  }
  img {
    width: 100px;
    height: 100px;
    display: block;
  }
}

// 分享
.share-wrap {
  margin-left: auto;
  height: 44px;
  align-self: center;
  display: flex;
  .icon-img {
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
  }

  .icon-img+.icon-img {
    margin-left: 16px;
  }

  .icon-link-img {
    background-image: url("@/assets/images/icons/icon_link.svg");
    &:hover {
      background-image: url("@/assets/images/icons/icon_link_active.svg");
    }
  }

  .icon-img-website {
    background-image: url("@/assets/images/icons/icon_lang_active_gray.svg");
    &.active {
      background-image: url("@/assets/images/icons/icon_lang_active.svg");
    }
  }

  .icon-img-discord {
    background-image: url("@/assets/images/icons/media/media_tg.svg");
    &:active {
      background-image: url("@/assets/images/icons/media/media_tg_active.svg");
    }
  }

  .icon-img-twitter {
    background-image: url("@/assets/images/icons/media/media_twitter.svg");
    &:active {
      background-image: url("@/assets/images/icons/media/media_twitter_active.svg");
    }
  }

  .icon-img-collect {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    background-image: url('@/assets/images/icons/icon_shoucang.svg');
    background-size: 24px 24px;
    &.active {
      background-image: url('@/assets/images/icons/icon_shoucang_active.svg');
    }
  }

  .icon-img-share {
    background-image: url("@/assets/images/icons/icon_share.svg");
    &:active {
      background-image: url("@/assets/images/icons/icon_share_active.svg");
    }
  }
}