$primaryColor: #111111;
$gradientColor: linear-gradient(90deg, #1EC0D7 0%, #3794F1 100%);
$gradientColor1: linear-gradient(90deg, #59A6F3 0%, #39589d 100%);
$secondPrimaryColor: #dbe9f7;

$redColor: #ee0a24;
$blueColor: #7381FF;
$grayColor: #999;
$greenColor: #6BE1B0;
$border: 1px solid #dcdfe6;
$borderRadius: 8px;

$tabTitleWidth: 90px;

$headerHeight: 76px;
$bg-white: #fff;
$bg-white2: rgba(255, 255, 255, 0.2);
$bg-white3: rgba(120, 104, 244, 0.04);
$bg-black: rgba(0, 0, 0, 0.05);
$color-white: #fff;
$color-white3: rgba(255, 255, 255, 0.6);
$color-white4: rgba(255, 255, 255, 0.8);
$maxWidth: 1200px;
$maxWidthRate: 85%;

$color-black: #000;
$alpha5: 0.5;
$alpha6: 0.6;
$mainLiner: linear-gradient(90deg, #AA79F7 0%, #6F5DF6 100%);
$purpleLiner: linear-gradient(182.55deg, #E8DEFF -5.44%, #E7F5FF 100.54%);
$bgPurple: #1063E0;
$bgPurple2: rgba(125, 71, 255, 0.05);
$color-purple: rgba(125, 71, 255, 0.4);
$elButtonHoverBg: rgba(0, 0, 0, 0.04);
$borderBg: rgba(0, 0, 0, 0.1);
$borderBg2: rgba(0, 0, 0, 0.2);
$color-black3: rgba(0, 0, 0, 0.6);
$color-black2: rgba(0, 0, 0, 0.3);
$color-black4: rgba(17, 17, 17, 0.6);
$color-bg5: rgba(17, 17, 17, 0.5);
$color-red: #E62929;
$gray-black: #04142A;
$arrowBtnShadow: rgba(82, 77, 255, 0.1);
$bgItem: #F5F5F5;
//@used "element-plus/theme-chalk/src/dark/var.scss" with (
//	$primaryColor: #f359d4
//);

:root {
  --cs-color-grey-1: #111111;
  --cs-color-grey-2: #454545;
  --cs-color-grey-3: #717A83;
  --cs-color-grey-4: #D3D3D3;
  --cs-color-grey-5: #E6E8EC;
  --cs-color-grey-6: #FAFAF8;

  --cs-color-primary: #1063E0;
  --cs-color-primary-1: #7190FF;
  --cs-color-primary-2: #99B0FF;
  --cs-color-primary-3: #C2D0FF;
  --cs-color-primary-4: #EBEFFF;
  --cs-color-white: #FFFFFF;
  --cs-color-primary-b: #2F57E5;
}
:root[theme='dark'] {
  --page-head-bg1: rgba(18, 18, 34, 1);
  --page-head-bg2: rgba(31, 31, 46, 1);
  --page-head-color1: #fff;
  --page-head-color4: rgba(255, 255, 255, 0.6);
  --page-head-color4-hover: #fff;
  --page-head-btn-bg1: rgba(41, 44, 66, 1);
}
