
$primaryColor: #111111;
$gradientColor: linear-gradient(90deg, #1EC0D7 0%, #3794F1 100%);
$gradientColor1: linear-gradient(90deg, #59A6F3 0%, #39589d 100%);
$secondPrimaryColor: #dbe9f7;

$redColor: #ee0a24;
$blueColor: #7381FF;
$grayColor: #999;
$greenColor: #6BE1B0;
$border: 1px solid #dcdfe6;
$borderRadius: 8px;

$tabTitleWidth: 90px;

$headerHeight: 96px;
$bg-white: #fff;
$color-white: #fff;
$maxWidth: 1200px;
$maxWidthRate: 85%;

$color-black: #000;
$alpha5: 0.5;
$alpha6: 0.6;
$mainLiner: linear-gradient(90deg, #AA79F7 0%, #6F5DF6 100%);
$purpleLiner: linear-gradient(182.55deg, #E8DEFF -5.44%, #E7F5FF 100.54%);
$bgPurple: #7D47FF;
$elButtonHoverBg: rgba(0, 0, 0, 0.04);
$borderBg: rgba(0, 0, 0, 0.1);
$color-black3: rgba(0, 0, 0, 0.6);
$color-black2: rgba(0, 0, 0, 0.3);
$arrowBtnShadow: rgba(82, 77, 255, 0.1);
$bgItem: #F5F5F5;
//@used "element-plus/theme-chalk/src/dark/var.scss" with (
//	$primaryColor: #f359d4
//);

